<!--
  @File Name                 : _header.html.erb
  @Company Name              : Mindfire Solutions Private Limited
  @Creator Name              : Vikram Kumar Mishra
  @Date Created              : 2012-06-14
  @Date Modified             :
  @Last Modification Details :
  @Purpose                   : To display the header part of the application.

-->

<div id="page-header">

  <%= p.body.html_safe unless p.nil?  %>

</div>

